	.features-table{
	border-radius:20px;
	border-spacing: 0;
	text-shadow: 0 1px 0 #fff;
	color: #2a2a2a;
	background: #fafafa;

    margin-top:20px;
    margin-bottom:20px;
	}

	.features-table td{
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    }


    form {

        display: flex;
        align-items: center;
    }

html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  header, footer {
    background: #4e706c;
    height: 100px;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    position: relative;
    
  }
  
  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
    font-size: 3vw;
    
  
  }


article {
  padding: 10px;
  margin: 10px;
  background: rgb(191, 224, 224);
}
